@font-face {
  font-family: "Avenir";
  font-weight: 800;
  src: url("../assets/fonts/Avenir-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir";
  font-weight: 400;
  src: url("../assets/fonts/Avenir-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir";
  font-weight: 500;
  src: url("../assets/fonts/Avenir-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Arquitecta";
  font-weight: 700;
  src: url("../assets/fonts/ArquitectaBold.otf") format("opentype");
}

@font-face {
  font-family: "Arquitecta";
  font-weight: 500;
  src: url("../assets/fonts/ArquitectaMedium.otf") format("opentype");
}
