* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* TODO tabs for UI */
/* TODO add lazy load imagesS */