* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  opacity: 0.4;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(281.4deg, #f82d98 -2.34%, #5833ef 114.41%);
}
